#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5rem 0;
  background-position: center;
  background-size: cover;

  form {
    width: 30.125rem;
    display: flex;
    flex-direction: column;

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media only screen and ($--query-mobile) {
    padding: 7.875rem 1.875rem;
    background-image: none !important;

    form {
      width: 16.375rem;

      .form__input--mobile {
        flex-direction: column;
        gap: 0 !important;
      }

      .form__checkbox {
        margin: 0;
        margin-bottom: 1.25rem !important;
      }

      p {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  @media only screen and ($--query-tablet) {
    padding: 7.875rem 5.625rem;
  }

  @media only screen and ($--query-desktop) {
  }
}